h4
{
    color: #000000;
    font-family: times new roman;
    font-size: 17px;
    margin: 0 0 0 0px;
    font-weight: normal;
    text-transform: uppercase;
}

.paddedTop
{
    padding-top: 1px;
}

.skillBoxRightCap
{
    float: right;
    padding-right: 3px;
    padding-top:2px;
}

/*
    Overall wrapper around entire card data. In this case, it shows a scroll
    */
.cardSkinWrapper
{
    background-image: url(/Content/images/detail-bg1.png);
    width: 730px;
    height: 462px;
    background-repeat: no-repeat;
    padding-left: 65px;
    padding-top: 60px;
    margin-top:10px;
}

/*
    Overall wrapper for the card's detailed stats
    */
.cardDeatilsWrapper
{
    float: left;
    padding-left: 15px;
}

/*
    Wraps the grid that contains the card's basestats
    */
.cardStatWrapper
{
    margin-top: 10px;
    margin-left: 50px;
    float: left;
    text-align: center;
}

/*
    Comment text of an individual skill
    */
.cardSkillComment
{
    width: 387px;
    font-family: 'helvetica';
    font-size: 12px;
    margin-left: 7px;
    font-weight: bold;
}

.scroll
{
    height: 100px;
    overflow: auto;
}

/*
    Shows high level information that can be seen at a quick glance, such as rarity and a picture
    */
.cardQuickGlanceWrapper
{
    float: left;
}

/*
    Shows the title details of card stats
    */
.cardStatHeaders
{
    width: 340px;
    clear: both;
}
/*
    Shows the number values of card stats
    */
.cardStatData
{
    width: 340px;
    clear: both;
}

/*
    Details of the card's type and subtype
    */


.textnew1
{
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    font-family: Times New Roman;
    font-size: 13px;
    margin: 0 0 0 0px;
    outline: 0 none;
    padding: 0;
    vertical-align: baseline;
}


/*
    One character data appearing in the spehere, such as a card's level
    */
.sphereBigText
{
    font-family: "Times New Roman",Times,serif;
    text-align: center;
    font-size: 40px;
    line-height: 44px;
}

/*
    Explenation as to what the big text means, such as "Level" or "Lv."
    */
.sphereSmallText
{
    text-align: center;
    font-size: 11px;
    line-height: 0px;
    font-weight: bold;
}

.statsheader
{
    border-right: 1px inset black;
    float: left;
    width: 55px;
}

.statsvalue
{
    border-right: 1px inset black;
    float: left;
    width: 55px;
    background-color: white;
}
/**********
    Image Sprites
    ******/

.cardSprite
{
    background: url(/Content/images/CardSpriteSheet.png) no-repeat;
    display: block;
}

.cardSprite-star
{
    width: 29px;
    height: 30px;
    background-position: -5px -5px;
}

.cardSprite-Skill-yellow
{
    width: 387px;
    height: 24px;
    background-position: -5px -45px;
}

.cardSprite-Skill-Auto
{
    width: 69px;
    height: 18px;
    background-position: -44px -5px;
}

.cardSprite-Skill-Close
{
    width: 69px;
    height: 18px;
    background-position: -123px -5px;
}

.cardSprite-Skill-Gowen
{
    width: 387px;
    height: 24px;
    background-position: -5px -79px;
}

.cardSprite-Skill-purple
{
    width: 387px;
    height: 24px;
    background-position: -5px -113px;
}

.cardSprite-Skill-Action
{
    width: 69px;
    height: 18px;
    background-position: -202px -5px;
}

.cardSprite-list-t1
{
    width: 387px;
    height: 24px;
    background-position: -5px -147px;
}

.cardSprite-table-bg1-Gowen
{
    width: 12px;
    height: 18px;
    background-position: -281px -5px;
    background-repeat: repeat-x;
}

.cardSprite-Skill-Open
{
    width: 69px;
    height: 18px;
    background-position: -303px -5px;
}

.cardSprite-numberSphere-Gowen
{
    width: 65px;
    height: 64px;
    background-position: -5px -181px;
}

.cardSprite-number-bg
{
    width: 65px;
    height: 65px;
    background-position: -80px -181px;
}

.cardSprite-number-bg-purple
{
    width: 66px;
    height: 65px;
    background-position: -155px -181px;
}

.cardSprite-number-bg-yellow
{
    width: 66px;
    height: 65px;
    background-position: -231px -181px;
}

.cardSprite-Skill-Rank
{
    width: 69px;
    height: 18px;
    background-position: -307px -181px;
}

.cardSprite-soul
{
    width: 69px;
    height: 18px;
    background-position: -307px -209px;
}

.cardSprite-Skill-Start
{
    width: 69px;
    height: 18px;
    background-position: -307px -237px;
}

.cardSprite-table-bg1
{
    width: 12px;
    height: 18px;
    background-position: -5px -265px;
}

.cardSprite-table-bg1-purple
{
    width: 12px;
    height: 18px;
    background-position: -27px -265px;
}

.cardSprite-table-bg1-yellow
{
    width: 12px;
    height: 18px;
    background-position: -49px -265px;
}

.cardSprite-Skill-Trait
{
    width: 69px;
    height: 18px;
    background-position: -71px -265px;
}

.repeaterSprite
{
    background: url(/Content/Images/RepeaterSprite.png) repeat-x;
    display: block;
}

.repeaterSprite-table-bg1
{
    width: 12px;
    height: 18px;
    background-position: -0px -0px;
}

.repeaterSprite-table-bg1-purple
{
    width: 12px;
    height: 18px;
    background-position: -0px -18px;
}

.repeaterSprite-Gowen
{
    height: 18px;
    background-position: -0px -36px;
}

.repeaterSprite-table-bg1-yellow
{
    width: 12px;
    height: 18px;
    background-position: -0px -54px;
}

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   speak for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.modal
{
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba( 255, 255, 255, .8 ) url('http://i.stack.imgur.com/FhHRx.gif') 50% 50% no-repeat;
}

body
{
    font-style : Palatino, Baskerville, Georgia, serif;
}

    /* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
    body.loading
    {
        overflow: hidden;
    }

        /* Anytime the body has the loading class, our
   modal element will be visible */
        body.loading .modal
        {
            display: block;
        }
